streamlit==1.35.0
opencv-python-headless==4.9.0.80
moviepy==1.0.1
decorator>=4.4.2
pydub==0.25.1
numpy==1.24.4
imageio==2.34.0
imageio-ffmpeg==0.4.9
ffmpeg-python==0.2.0
noisereduce==2.0.1
soundfile==0.12.1
scipy==1.12.0
